<div class="bg-black p-4 h-[80vh] overflow-y-auto">
  <div class="bg-[#696969] p-4 rounded-[10px] mb-2">
    <div class="flex gap-3 mb-3 cursor-pointer">
      <img alt="home" src="../../../assets/icons/home.svg" />
      <p class="text-[#f8eeec] hover:text-white">Home</p>
    </div>
    <div class="flex gap-3 mt-3 cursor-pointer">
      <img alt="home" src="../../../assets/icons/search.svg" />
      <p class="text-[#f8eeec] hover:text-white">Search</p>
    </div>
  </div>
  <div class="bg-[#696969] p-4 rounded-[10px] mt-4">
    <div class="flex justify-between">
      <div class="flex gap-3">
        <img alt="library" src="../../../assets/icons/library.svg" class="cursor-pointer" />
        <p class="text-white">Your Library</p>
      </div>
      <div class="flex gap-3">
        <img alt="plus" src="../../../assets/icons/plus.svg" class="cursor-pointer" />
        <img alt="plus" src="../../../assets/icons/arrow-right.svg" class="cursor-pointer" />
      </div>
    </div>
    <div class="flex gap-2 my-8">
      <p class="py-2 px-4 bg-[#A9A9A9] rounded-[24px] cursor-pointer text-white text-xs">
        Playlists
      </p>
      <p class="py-2 px-4 bg-[#A9A9A9] rounded-[24px] cursor-pointer text-white text-xs">
        Albums
      </p>
    </div>
    <div class="overflow-y-scroll">
      <div class="flex justify-between mt-4">
        <img alt="plus" src="../../../assets/icons/search.svg" class="cursor-pointer" />
        <div class="flex justify-start gap-1 items-center cursor-pointer">
          <p class="text-white text-xs">Recent</p>
          <img alt="plus" src="../../../assets/icons/menu-down.svg" class="cursor-pointer" />
        </div>
      </div>
      <div class="flex gap-4 mt-6 items-center" (click)="getLikedSongs()">
        <img alt="cover"
          src="https://st4.depositphotos.com/20547288/23702/i/600/depositphotos_237023184-stock-photo-realistic-isolated-fire-effect-decoration.jpg"
          class="aspect-square rounded-[5px]" width="56" height="96" />
        <p class="text-[#f8eeec] cursor-pointer text-sm hover:text-white">
          Liked Songs
        </p>
      </div>
      <div class="flex gap-4 mt-6 items-center">
        <img alt="cover" src="https://w.forfun.com/fetch/67/674d9f64c8a3c0110654ebdd1e037503.jpeg"
          class="aspect-square rounded-[5px]" width="56" height="96" />
        <p class="text-[#f8eeec] cursor-pointer text-sm hover:text-white">
          Alan Walker
        </p>
      </div>
      <div class="flex gap-4 mt-6 items-center">
        <img alt="cover"
          src="https://st4.depositphotos.com/20547288/23702/i/600/depositphotos_237023184-stock-photo-realistic-isolated-fire-effect-decoration.jpg"
          class="aspect-square rounded-[5px]" width="56" height="96" />
        <p class="text-[#f8eeec] cursor-pointer text-sm hover:text-white">
          Eminem
        </p>
      </div>
      <div class="flex gap-4 mt-6 items-center">
        <img alt="cover"
          src="https://st4.depositphotos.com/20547288/23702/i/600/depositphotos_237023184-stock-photo-realistic-isolated-fire-effect-decoration.jpg"
          class="aspect-square rounded-[5px]" width="56" height="96" />
        <p class="text-[#f8eeec] cursor-pointer text-sm hover:text-white">
          Drake
        </p>
      </div>
      <div class="flex gap-4 mt-6 items-center">
        <img alt="cover"
          src="https://st4.depositphotos.com/20547288/23702/i/600/depositphotos_237023184-stock-photo-realistic-isolated-fire-effect-decoration.jpg"
          class="aspect-square rounded-[5px]" width="56" height="96" />
        <p class="text-[#f8eeec] cursor-pointer text-sm hover:text-white">
          Sauti Soul
        </p>
      </div>
      <div class="flex gap-4 mt-6 items-center">
        <img alt="cover"
          src="https://st4.depositphotos.com/20547288/23702/i/600/depositphotos_237023184-stock-photo-realistic-isolated-fire-effect-decoration.jpg"
          class="aspect-square rounded-[5px]" width="56" height="96" />
        <p class="text-[#f8eeec] cursor-pointer text-sm hover:text-white">
          Nyashinkski
        </p>
      </div>
      <div class="flex gap-4 mt-6 items-center">
        <img alt="cover"
          src="https://st4.depositphotos.com/20547288/23702/i/600/depositphotos_237023184-stock-photo-realistic-isolated-fire-effect-decoration.jpg"
          class="aspect-square rounded-[5px]" width="56" height="96" />
        <p class="text-[#f8eeec] cursor-pointer text-sm hover:text-white">
          Morning Songs
        </p>
      </div>
      <div class="flex gap-4 mt-6 items-center">
        <img alt="cover"
          src="https://st4.depositphotos.com/20547288/23702/i/600/depositphotos_237023184-stock-photo-realistic-isolated-fire-effect-decoration.jpg"
          class="aspect-square rounded-[5px]" width="56" height="96" />
        <p class="text-[#f8eeec] cursor-pointer text-sm hover:text-white">
          Liked Songs
        </p>
      </div>
      <div class="flex gap-4 mt-6 items-center">
        <img alt="cover" src="https://w.forfun.com/fetch/67/674d9f64c8a3c0110654ebdd1e037503.jpeg"
          class="aspect-square rounded-[5px]" width="56" height="96" />
        <p class="text-[#f8eeec] cursor-pointer text-sm hover:text-white">
          Alan Walker
        </p>
      </div>
      <div class="flex gap-4 mt-6 items-center">
        <img alt="cover"
          src="https://st4.depositphotos.com/20547288/23702/i/600/depositphotos_237023184-stock-photo-realistic-isolated-fire-effect-decoration.jpg"
          class="aspect-square rounded-[5px]" width="56" height="96" />
        <p class="text-[#f8eeec] cursor-pointer text-sm hover:text-white">
          Eminem
        </p>
      </div>
      <div class="flex gap-4 mt-6 items-center">
        <img alt="cover"
          src="https://st4.depositphotos.com/20547288/23702/i/600/depositphotos_237023184-stock-photo-realistic-isolated-fire-effect-decoration.jpg"
          class="aspect-square rounded-[5px]" width="56" height="96" />
        <p class="text-[#f8eeec] cursor-pointer text-sm hover:text-white">
          Drake
        </p>
      </div>
      <div class="flex gap-4 mt-6 items-center">
        <img alt="cover"
          src="https://st4.depositphotos.com/20547288/23702/i/600/depositphotos_237023184-stock-photo-realistic-isolated-fire-effect-decoration.jpg"
          class="aspect-square rounded-[5px]" width="56" height="96" />
        <p class="text-[#f8eeec] cursor-pointer text-sm hover:text-white">
          Sauti Soul
        </p>
      </div>
      <div class="flex gap-4 mt-6 items-center">
        <img alt="cover"
          src="https://st4.depositphotos.com/20547288/23702/i/600/depositphotos_237023184-stock-photo-realistic-isolated-fire-effect-decoration.jpg"
          class="aspect-square rounded-[5px]" width="56" height="96" />
        <p class="text-[#f8eeec] cursor-pointer text-sm hover:text-white">
          Nyashinkski
        </p>
      </div>
      <div class="flex gap-4 mt-6 items-center">
        <img alt="cover"
          src="https://st4.depositphotos.com/20547288/23702/i/600/depositphotos_237023184-stock-photo-realistic-isolated-fire-effect-decoration.jpg"
          class="aspect-square rounded-[5px]" width="56" height="96" />
        <p class="text-[#f8eeec] cursor-pointer text-sm hover:text-white">
          Morning Songs
        </p>
      </div>
    </div>
  </div>
</div>