<div class="bg-black p-4">
  <div class="bg-[#696969] p-4 rounded-[10px] mb-2">
    <div class="flex gap-3 mb-3 cursor-pointer">
      <img alt="home" src="../../../assets/icons/home.svg" />
      <p class="text-white">Home</p>
    </div>
    <div class="flex gap-3 mt-3 cursor-pointer">
      <img alt="home" src="../../../assets/icons/search.svg" />
      <p class="text-white">Search</p>
    </div>
  </div>
  <div class="bg-[#696969] p-4 rounded-[10px] mt-2">
    <div class="flex gap-3">
      <img
        alt="library"
        src="../../../assets/icons/library.svg"
        class="cursor-pointer"
      />
      <p class="text-white">Your Library</p>
      <img
        alt="plus"
        src="../../../assets/icons/plus.svg"
        class="cursor-pointer"
      />
      <img
        alt="plus"
        src="../../../assets/icons/arrow-right.svg"
        class="cursor-pointer"
      />
    </div>
    <div class="flex gap-2 mt-4">
        <p class="p-2 bg-[#A9A9A9] rounded-[24px] cursor-pointer text-white">Playlists</p>
        <p class="p-2 bg-[#A9A9A9] rounded-[24px] cursor-pointer text-white">Albums</p>
    </div>
  </div>
</div>
